:root {
    --bg-light: #f6ffed;
    --text-light: #426c4c;
    --accent: #a0e7ad;
    --secondary: #febed6;
    --secondary-dark: #fa7eac;
    --bg-dark: #244126;
    --text-dark: #ffeded;
    --light-background: "images/sky.png"
    --dark-background: "images/stars.png"
}

body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    background-color: var(--bg-light);
    background-image: --light-background;
    color: var(--secondary-dark);
    transition: all 0.3s ease-in-out;
}

header {
    font-family: 'Audrey';
    background-color: var(--bg-light);
    color: var(--text-light);
    padding: 2rem;
    text-align: center;
    top: 0;
    z-index: 1000;
    margin: 2rem;
}

header h1 {
    margin-top: 2rem;
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    color: var(--text-light);
}

nav {
    padding: 0.5rem;
    background-color: var(--accent);
    text-align: center;
}

a {
    font-family: 'Roboto';
    color: var(--text-light);
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--text-dark);
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    margin-bottom: 4rem;
}

main {
    color: var(--secondary-dark);
    padding-bottom: 3rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--accent);
    color: var(--text-light);
}

button {
    background-color: var(--secondary);
    border: none;
    color: var(--secondary-dark);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.dark-mode {
    background-color: var(--text-light);
    background-image: --dark-background;
    color: var(--text-dark);
}

.dark-mode header {
    background-color: var(--bg-dark);
    color: var(--text-dark);
}

.dark-mode nav a {
    color: var(--text-dark);
}

.dark-mode footer {
    background-color: var(--bg-dark);
}

img {
    max-width: 30%;
    max-height: 30%;
}

.center {
    text-align: center;
    float: left; 
    width: 33%;
}

.right {
    text-align: right;
    float: left; 
    width: 33%;
}

.left {
    text-align: left;
    float: left; 
    width: 34%;
}

.left a:hover {
    color: var(--text-dark);
}

i {
    font-size: 2rem;
    color: var(--text-light);
    font-size: 2rem;
    padding: 0;
}

#me2 {
   display: none
}

#link {
    color: var(--text-light);
    font-size: 2rem;
    padding: 0;
}

#about {
    display: flex;
    justify-content: space-between;
}

.text {
    font-family: 'Roboto';
    margin: 0 1rem;
    font-size: 1.1rem;
}