:root {
    --bg-light: #fffbee;
    --text-light: #445a49;
    --accent: #94b099;
    --secondary: #c7bfae;
    --secondary-dark: #423f3a;
    --bg-dark: #244126;
    --text-dark: #e7e1cf;
}

body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    background-color: var(--bg-light);
    color: var(--secondary-dark);
    transition: all 0.3s ease-in-out;
}

nav {
    padding: 0.5rem;
    background-color: var(--accent);
    text-align: center;
}

a {
    font-family: 'Roboto';
    color: var(--text-light);
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--text-dark);
}

main {
    margin-bottom: 4rem;
    color: var(--secondary-dark);
    padding-bottom: 3rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--accent);
    color: var(--text-light);
}

button {
    background-color: var(--secondary-dark);
    border: none;
    color: var(--bg-light);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.dark-mode {
    background-color: var(--text-light);
    color: var(--text-dark);
}

.dark-mode header {
    background-color: var(--bg-dark);
    color: var(--text-dark);
}

.dark-mode nav a {
    color: var(--text-dark);
}

.dark-mode footer {
    background-color: var(--bg-dark);
}

.center {
    text-align: center;
    float: left; 
    width: 33%;
}

.right {
    text-align: right;
    float: left; 
    width: 33%;
}

.left {
    text-align: left;
    float: left; 
    width: 34%;
}

.left a:hover {
    color: var(--text-dark);
}

i {
    font-size: 2rem;
    color: var(--text-light);
    font-size: 2rem;
    padding: 0;
}

header {
    font-family: 'Times New Roman';
    background-color: var(--bg-light);
    color: var(--text-light);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.about, .education, .contact, .projects {
    display: flex;
    justify-content: space-between;
}

#star, #heading, #link {
    padding: px;
}

.image {
    width: 100%;
    height: auto;
    z-index: 0;
}

main p {
    font-family: 'Roboto';
    color: var(--text-light);
    margin: 1px;
    font-size: 1.1rem;
}
